.connections {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.connectionsPane {
    padding: 0.5em;
    margin: 0.5em;
}

.connections div h4 {
    text-align: center;

}

.socialEntryList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;

}

.socialEntryImage {
    width: 5em;
    height: 5em;
    margin: 1em 1em 0 1em;
}

textarea {
    resize: none;
}