#AboutMe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 0 2em 2em;
}

#ProfPhoto {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    width:80%;
    border-radius: 10px;
    margin: 1em;
}

#GrowthMindset {
    grid-column: 1 / 4;
    grid-row: 2;
}

#Drive {

}

#Adaptability {

}